tr, tbody{
    border: 3px solid #dddddd;
    text-align: center;
    padding: 8px;
    
  }
  #fixed {
    overflow-y: auto;
    height: 550px;
    width: 250px;
  }
  #fixed thead, th {
    border: 3px solid #dddddd;
    text-align: center;
    padding: 8px;
    position: sticky;
    top: 0;
  }
  th {
    border: 2px solid #dddddd;
    text-align: center;
    padding: 8px;
    /* background-color: rgb(179, 184, 184);  */
  }

  table, td{
    border: 2px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  