
.modal-lg {
    max-width: 60%;
}
.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 85%;
}

.modal-body{
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow: auto;

}
.resize-none{
    resize: none;
}
.tab-content {
    height: auto! Important;
}
